// Colors
$color-gray: #6e6f73;
$color-light-gray: #999a9b;
$color-border: #e0e6ed;
$color-background-header: #f8f8f8;
$color-background-light: #fafafa;
$color-background-button-login: #6a1a1d;
$color-background-button-login-hover: #c5331e;
$color-footer: #8393a2;

// font-weight
$font-weight-feather: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 700;
